<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwu.CashBook.mapper.CategoryMapper">

    <!-- 명시적 필드 매핑 -->
    <resultMap id="CategoryMap" type="com.kwu.CashBook.model.Category">
        <id property="categoryId" column="CATEGORY_ID"/>
        <result property="name" column="NAME"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <select id="findAll" resultMap="CategoryMap">
        SELECT * FROM categories
    </select>

    <insert id="insert" parameterType="com.kwu.CashBook.model.Category">
        INSERT INTO categories (category_id, name, type)
        VALUES (categories_seq.NEXTVAL, #{name}, #{type})
    </insert>
    
	
	<update id="update" parameterType="com.kwu.CashBook.model.Category">
	    UPDATE categories SET
	        name = #{name, jdbcType=VARCHAR},
	        type = #{type, jdbcType=VARCHAR}
	    WHERE category_id = #{categoryId, jdbcType=NUMERIC}
	</update>
		
	<delete id="delete" parameterType="Long">
	    DELETE FROM categories 
	    WHERE category_id = #{id, jdbcType=NUMERIC}
	</delete>
</mapper>
