<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwu.CashBook.mapper.TransactionMapper">

    <!-- 명시적 매핑 설정 -->
    <resultMap id="TransactionMap" type="com.kwu.CashBook.model.Transaction">
        <id property="id" column="ID"/>
        <result property="transactionDate" column="TRANSACTION_DATE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="amount" column="AMOUNT"/>
        <result property="type" column="TYPE"/>
        <result property="memo" column="MEMO"/>
        <result property="categoryId" column="CATEGORY_ID"/>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="findAll" resultMap="TransactionMap">
        SELECT * FROM transactions
    </select>

    <!-- 삽입 -->
    <insert id="insert" parameterType="com.kwu.CashBook.model.Transaction">
        INSERT INTO transactions (
            id, transaction_date, item_name, amount, type, memo, category_id
        )
        VALUES (
            trans_seq.NEXTVAL,
            #{transactionDate, jdbcType=DATE},
            #{itemName, jdbcType=VARCHAR},
            #{amount, jdbcType=NUMERIC},
            #{type, jdbcType=VARCHAR},
            #{memo, jdbcType=VARCHAR},
            #{categoryId, jdbcType=NUMERIC}
        )
    </insert>
    
	<update id="update" parameterType="com.kwu.CashBook.model.Transaction">
    UPDATE transactions SET
        transaction_date = #{transactionDate, jdbcType=DATE},
        item_name = #{itemName, jdbcType=VARCHAR},
        amount = #{amount, jdbcType=NUMERIC},
        type = #{type, jdbcType=VARCHAR},
        memo = #{memo, jdbcType=VARCHAR},
        category_id = #{categoryId, jdbcType=NUMERIC}
    WHERE id = #{id, jdbcType=NUMERIC}
	</update>
	
	<delete id="delete" parameterType="Long">
	    DELETE FROM transactions 
	    WHERE id = #{id, jdbcType=NUMERIC}
	</delete>
</mapper>
